#mainBorderPane {
    -fx-font-family: "Cambria Math", sans-serif;
    -fx-font-size: 20px;
    -fx-background-color: linear-gradient(to bottom right, #f5ffff 25%, rgba(167, 60, 0, 0.42) 100%);
}

#endGameLabel {
    -fx-font-size: 100px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(to right, rgba(167, 60, 0, 0.6) 7%, #000000 7%);
}

#finishedText {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}